<!DOCTYPE html>
<html>
  <head>
    <title>TeamLunches</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<!-- this body tag looks wierd but its used to disable turbolinks on certain view -->
<body
    <% if content_for?(:body_attributes) %>
      <%= yield(:body_attributes) %>
    <% end %>>

    <div class="container">
      <%= render 'layouts/navbar' %>
      <%= render 'layouts/flash_message' %>
      <%= yield %>
    </div>
  </body>



</html>
